.App {
  background-image: url("./shop_now.png");
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
    /* display: flex; */

    background-color: #009688;
    /* height: 80px; */

    padding: 20px;
    color: white;
    /* padding-left: 40%; */
    /* padding-top: 10px; */
}

.App-header > h2{
      margin-top: 8px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo{
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.icon-logo {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}
